code/ANDROMEDA/Testing/Service References/ServiceReference/BoxOffice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1298/BoxOffice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cingulariti.ANDROMEDA.Business" />
  <xs:element name="GetBoxOfficeResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resultsDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxOfficeResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cingulariti.ANDROMEDA.Business" minOccurs="0" name="GetBoxOfficeResultsResult" nillable="true" type="q1:BoxOfficeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>